body {
  background-color: #43A047;
  font-family: monospace;
  width: 900px;
  color: #f5f5f5;
  text-align: center;
}

.Treasure__heading {
  margin-top: 2em;
  padding: 2em;

}

.Treasure__title {
  text-align: center;
}

.Treasure__vid-pic {
  height: 40rem;
  display: block;
  margin: 0 auto;
  background-color: #FDD835;
  border-radius: 10px;
}

.Treasure__box__pic{
  height: 30rem;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 2em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*.Treasure__audio{
  background-color: #FFEE58;
  width: calc(100% / 1.5);
  margin: 1em auto;
  border-radius: 5px;
  background-color: #FFEE58;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}*/
audio{
  padding: 1em;
  margin-bottom: 2em;
  width: 60% ;
  border-radius: 5px;
  background-color: #FFEE58;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.Treasure__text{
  display: flex;
}

.text__avataar__pic{
  margin: 2em 2em 0 2em;
  height: 7rem;
  border-radius: 35%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.text__avataar__fname{
  font-weight: bolder;
}

.text__body{
  text-align: justify;
}
